<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aidangrabe.studentapp" >

    <!-- permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <!-- activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ModulesActivity" />
        <activity android:name=".activities.NewClassActivity" />
        <activity android:name=".activities.TimeTableActivity" />
        <activity android:name=".activities.ToDoListActivity" />
        <activity android:name=".activities.ResultsActivity" />
        <activity android:name=".activities.ModuleResultsActivity" />
        <activity android:name=".activities.NewsActivity" />
        <activity android:name=".activities.NewsArticleActivity" />

        <!-- games -->
        <activity android:name=".activities.games.GameMenuActivity" />
        <activity android:name=".activities.games.SnakeActivity" />

        <!-- services -->
        <service android:name=".wearable.DataLayerListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service android:name=".services.NewsDownloaderService" android:exported="false" />
        <service android:name=".services.TimeTableService" android:exported="false" />

        <!-- Sugar ORM -->
        <meta-data android:name="DATABASE" android:value="student_app.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <!--<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.aidangrabe.studentapp" />-->

    </application>

</manifest>
